force-app/main/default/flows/Run_CodeScan_from_Environment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Job_Template</name>
        <label>Run Job Template</label>
        <locationX>176</locationX>
        <locationY>1450</locationY>
        <actionName>copado__CreateExecution</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>templateName</name>
            <value>
                <stringValue>Run_CodeScan_from_Environment_1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dataJson</name>
            <value>
                <elementReference>jsonPayload</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentId</name>
            <value>
                <elementReference>AssignCredentialValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pipelineId</name>
            <value>
                <elementReference>AssignPipelineValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>runAfterInstantiation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>copado__CreateExecution</nameSegment>
        <outputParameters>
            <assignToReference>Job_Execution</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Pipeline_ID</name>
        <label>Add Pipeline ID</label>
        <locationX>264</locationX>
        <locationY>390</locationY>
        <assignmentItems>
            <assignToReference>PipelineIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Connections.copado__Deployment_Flow__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Connections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Branch_From_Connection</name>
        <label>Assign Branch From Connection</label>
        <locationX>100</locationX>
        <locationY>1150</locationY>
        <assignmentItems>
            <assignToReference>branchName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Pipeline_Connection.copado__Branch__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Job_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Branch_From_Main</name>
        <label>Assign Branch From Main</label>
        <locationX>300</locationX>
        <locationY>1270</locationY>
        <assignmentItems>
            <assignToReference>branchName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Main_Branch.copado__Main_Branch__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Job_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Screen_Values</name>
        <label>Assign Screen Values</label>
        <locationX>176</locationX>
        <locationY>790</locationY>
        <assignmentItems>
            <assignToReference>AssignPipelineValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Pipeline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignCredentialValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Credential</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_Pipeline_Connection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Is_Source_Environment</name>
        <label>Is Source Environment?</label>
        <locationX>176</locationX>
        <locationY>1030</locationY>
        <defaultConnector>
            <targetReference>Get_Main_Branch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Use Main Branch)</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Connection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Pipeline_Connection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Branch_From_Connection</targetReference>
            </connector>
            <label>Yes (Use Step Branch)</label>
        </rules>
    </decisions>
    <description>Simplified Logic: Directly checks pipeline step for branch, falls back to Main Branch if not found.</description>
    <dynamicChoiceSets>
        <name>Org_Choice_Set</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <object>copado__Org__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pipeline_Choice_Set</name>
        <collectionReference>Get_Pipeline_Records</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>copado__Deployment_Flow__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>jsonPayload</name>
        <dataType>String</dataType>
        <expression>&apos;{ &quot;branchName&quot;: &quot;&apos; &amp; {!branchName} &amp;&apos;&quot;,&quot;pipelineId&quot;:&quot;&apos;&amp;{!AssignPipelineValue}&amp;&apos;&quot;,&quot;parentId&quot;:&quot;&apos;&amp;{!AssignCredentialValue}&amp;&apos;&quot;,&quot;parentContext&quot;: &quot;credential&quot; }&apos;</expression>
    </formulas>
    <label>Run CodeScan from Environment (Simplified)</label>
    <loops>
        <name>Loop_Connections</name>
        <label>Loop Connections</label>
        <locationX>176</locationX>
        <locationY>270</locationY>
        <collectionReference>Get_Related_Pipeline_Connections</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Pipeline_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Pipeline_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_Pipeline_Connection</name>
        <label>Get Current Pipeline Connection</label>
        <locationX>176</locationX>
        <locationY>910</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Is_Source_Environment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Deployment_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignPipelineValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Source_Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Deployment_Flow_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Branch</name>
        <label>Get Main Branch</label>
        <locationX>300</locationX>
        <locationY>1150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Branch_From_Main</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignPipelineValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Deployment_Flow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pipeline_Records</name>
        <label>Get Pipeline Records</label>
        <locationX>176</locationX>
        <locationY>550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Select_Options</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>PipelineIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Deployment_Flow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Pipeline_Connections</name>
        <label>Get Related Pipeline Connections</label>
        <locationX>176</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Connections</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>copado__Source_Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Destination_Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Deployment_Flow_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_Select_Options</name>
        <label>Select Options</label>
        <locationX>176</locationX>
        <locationY>670</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Screen_Values</targetReference>
        </connector>
        <fields>
            <name>TitleText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Run CodeScan&lt;/b&gt;&lt;p&gt;Select the Pipeline context and the Credential (Org) to run this scan.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Input_Pipeline</name>
            <choiceReferences>Pipeline_Choice_Set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pipeline</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Input_Credential</name>
            <choiceReferences>Org_Choice_Set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Credential</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>176</locationX>
        <locationY>1600</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMsg</name>
            <fieldText>&lt;p&gt;Job Execution Started!&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/{!Job_Execution.Id}&quot; target=&quot;_blank&quot;&gt;Click here to view the Execution&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Related_Pipeline_Connections</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignCredentialValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssignPipelineValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>branchName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Job_Execution</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__JobExecution__c</objectType>
    </variables>
    <variables>
        <name>PipelineIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__Environment__c</objectType>
    </variables>
</Flow>
