force-app/main/default/flows/Run_Selective_CodeScan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Execute_Selective_Code_Scan</name>
        <label>Execute Selective Code Scan</label>
        <locationX>667</locationX>
        <locationY>554</locationY>
        <actionName>copado__CreateExecution</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Run_Selective_CodeScan_Result</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>dataJson</name>
            <value>
                <elementReference>dataJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pipelineId</name>
            <value>
                <elementReference>recordId.copado__Project__r.copado__Deployment_Flow__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>runAfterInstantiation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <stringValue>Run_Selective_CodeScan_from_User_Story_1</stringValue>
            </value>
        </inputParameters>
        <nameSegment>copado__CreateExecution</nameSegment>
        <outputParameters>
            <assignToReference>Job_Execution</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>dataJson</name>
        <dataType>String</dataType>
        <expression>&apos;{ &quot;destinationBranch&quot;: &quot;&apos; &amp; {!Get_PipelineConnection_from_User_Story.copado__Destination_Branch__c} &amp;&apos;&quot;, &quot;pipelineId&quot;: &quot;&apos; &amp;{!recordId.copado__Project__r.copado__Deployment_Flow__r.Id} &amp;&apos;&quot;,&quot;parentId&quot;: &quot;&apos; &amp; {!recordId.Id} &amp;&apos;&quot;,&quot;componentKeys&quot;: &quot;&apos; &amp;{!recordId.copado__Project__r.Name}&amp;&apos;&quot;,&quot;branchName&quot;: &quot;feature/&apos; &amp; {!recordId.Name} &amp;&apos;&quot;,&quot;parentContext&quot;: &quot;userStory&quot;,&quot;baseBranch&quot;: &quot;&apos;&amp;{!recordId.copado__Project__r.copado__Deployment_Flow__r.copado__Main_Branch__c}&amp;&apos;&quot;}&apos;</expression>
    </formulas>
    <interviewLabel>Run Selective CodeScan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Run Selective CodeScan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_PipelineConnection_from_User_Story</name>
        <label>Get PipelineConnection from User Story</label>
        <locationX>654</locationX>
        <locationY>369</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Execute_Selective_Code_Scan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Source_Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.copado__Environment__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Deployment_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.copado__Project__r.copado__Deployment_Flow__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Deployment_Flow_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Run_Selective_CodeScan</name>
        <label>Run Selective CodeScan</label>
        <locationX>777</locationX>
        <locationY>224</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_PipelineConnection_from_User_Story</targetReference>
        </connector>
        <fields>
            <name>Run_Selective_Code_Scan_Title</name>
            <fieldText>&lt;p&gt;Run Selective CodeScan&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Run_Selective_CodeScan_Result</name>
        <label>Run Selective CodeScan</label>
        <locationX>923</locationX>
        <locationY>736</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>View_Job_Execution</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;/{!Job_Execution.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;View Job Execution&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Run_Selective_CodeScan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Job_Execution</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__JobExecution__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
</Flow>
