force-app/main/default/flows/Support_Ticket_Set_Due_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Due_Date_Critical</name>
        <label>Set Due Date - Critical</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>$Record.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Critical_Due_Date</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Due_Date_High</name>
        <label>Set Due Date - High</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>$Record.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_High_Due_Date</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Due_Date_Low</name>
        <label>Set Due Date - Low</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>$Record.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Low_Due_Date</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Due_Date_Medium</name>
        <label>Set Due Date - Medium</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>$Record.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Medium_Due_Date</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Priority</name>
        <label>Check Priority</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Critical_Priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Due_Date_Critical</targetReference>
            </connector>
            <label>Critical Priority</label>
        </rules>
        <rules>
            <name>High_Priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Due_Date_High</targetReference>
            </connector>
            <label>High Priority</label>
        </rules>
        <rules>
            <name>Medium_Priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Due_Date_Medium</targetReference>
            </connector>
            <label>Medium Priority</label>
        </rules>
        <rules>
            <name>Low_Priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Due_Date_Low</targetReference>
            </connector>
            <label>Low Priority</label>
        </rules>
    </decisions>
    <description>Automatically sets due dates for Support Tickets based on priority level, accounting for business days (skipping weekends)</description>
    <formulas>
        <name>Formula_Critical_Due_Date</name>
        <dataType>Date</dataType>
        <expression>/* Critical: 1 business day */
CASE(
    WEEKDAY(TODAY()),
    /* Sunday (1) - add 1 day to get to Monday */
    1, TODAY() + 1,
    /* Monday (2) - add 1 day to get to Tuesday */
    2, TODAY() + 1,
    /* Tuesday (3) - add 1 day to get to Wednesday */
    3, TODAY() + 1,
    /* Wednesday (4) - add 1 day to get to Thursday */
    4, TODAY() + 1,
    /* Thursday (5) - add 1 day to get to Friday */
    5, TODAY() + 1,
    /* Friday (6) - add 3 days to get to Monday */
    6, TODAY() + 3,
    /* Saturday (7) - add 2 days to get to Monday */
    7, TODAY() + 2,
    /* Default */
    TODAY() + 1
)</expression>
    </formulas>
    <formulas>
        <name>Formula_High_Due_Date</name>
        <dataType>Date</dataType>
        <expression>/* High: 3 business days */
CASE(
    WEEKDAY(TODAY()),
    /* Sunday (1) - add 3 days to get to Wednesday */
    1, TODAY() + 3,
    /* Monday (2) - add 3 days to get to Thursday */
    2, TODAY() + 3,
    /* Tuesday (3) - add 3 days to get to Friday */
    3, TODAY() + 3,
    /* Wednesday (4) - add 5 days to skip weekend, get to Monday */
    4, TODAY() + 5,
    /* Thursday (5) - add 5 days to skip weekend, get to Tuesday */
    5, TODAY() + 5,
    /* Friday (6) - add 5 days to skip weekend, get to Wednesday */
    6, TODAY() + 5,
    /* Saturday (7) - add 4 days to get to Wednesday */
    7, TODAY() + 4,
    /* Default */
    TODAY() + 3
)</expression>
    </formulas>
    <formulas>
        <name>Formula_Low_Due_Date</name>
        <dataType>Date</dataType>
        <expression>/* Low: 7 business days */
CASE(
    WEEKDAY(TODAY()),
    /* Sunday (1) - add 7 days to get to Sunday, then +1 to Monday */
    1, TODAY() + 8,
    /* Monday (2) - add 9 days to skip weekend, get to Wednesday */
    2, TODAY() + 9,
    /* Tuesday (3) - add 9 days to skip weekend, get to Thursday */
    3, TODAY() + 9,
    /* Wednesday (4) - add 9 days to skip weekend, get to Friday */
    4, TODAY() + 9,
    /* Thursday (5) - add 9 days to skip weekend, get to Monday */
    5, TODAY() + 11,
    /* Friday (6) - add 9 days to skip weekend, get to Tuesday */
    6, TODAY() + 11,
    /* Saturday (7) - add 8 days to get to Sunday, then +1 to Monday */
    7, TODAY() + 9,
    /* Default */
    TODAY() + 7
)</expression>
    </formulas>
    <formulas>
        <name>Formula_Medium_Due_Date</name>
        <dataType>Date</dataType>
        <expression>/* Medium: 5 business days */
CASE(
    WEEKDAY(TODAY()),
    /* Sunday (1) - add 5 days to get to Friday */
    1, TODAY() + 5,
    /* Monday (2) - add 7 days to skip weekend, get to Monday */
    2, TODAY() + 7,
    /* Tuesday (3) - add 7 days to skip weekend, get to Tuesday */
    3, TODAY() + 7,
    /* Wednesday (4) - add 7 days to skip weekend, get to Wednesday */
    4, TODAY() + 7,
    /* Thursday (5) - add 7 days to skip weekend, get to Thursday */
    5, TODAY() + 7,
    /* Friday (6) - add 7 days to skip weekend, get to Friday */
    6, TODAY() + 7,
    /* Saturday (7) - add 6 days to get to Friday */
    7, TODAY() + 6,
    /* Default */
    TODAY() + 5
)</expression>
    </formulas>
    <label>Support Ticket Set Due Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Priority</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Priority__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Support_Ticket__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
