force-app/main/default/flows/Support_Ticket_Set_Due_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Due_Date_Enterprise_Critical</name>
        <label>Set Due Date - Enterprise Critical (4 hours)</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>$Record.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Enterprise_Critical</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Due_Date_Enterprise_High</name>
        <label>Set Due Date - Enterprise High (1 day)</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>$Record.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Enterprise_High</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Due_Date_Enterprise_Low</name>
        <label>Set Due Date - Enterprise Low (3 days)</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>$Record.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Enterprise_Low</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Due_Date_Enterprise_Medium</name>
        <label>Set Due Date - Enterprise Medium (2 days)</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>$Record.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Enterprise_Medium</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Due_Date_Premium_Critical</name>
        <label>Set Due Date - Premium Critical (12 hours)</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>$Record.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Premium_Critical</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Due_Date_Premium_High</name>
        <label>Set Due Date - Premium High (2 days)</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>$Record.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Premium_High</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Due_Date_Premium_Low</name>
        <label>Set Due Date - Premium Low (5 days)</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>$Record.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Premium_Low</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Due_Date_Premium_Medium</name>
        <label>Set Due Date - Premium Medium (4 days)</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>$Record.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Premium_Medium</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Due_Date_Standard_Critical</name>
        <label>Set Due Date - Standard Critical (1 day)</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>$Record.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Standard_Critical</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Due_Date_Standard_High</name>
        <label>Set Due Date - Standard High (3 days)</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>$Record.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Standard_High</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Due_Date_Standard_Low</name>
        <label>Set Due Date - Standard Low (7 days)</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>$Record.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Standard_Low</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Due_Date_Standard_Medium</name>
        <label>Set Due Date - Standard Medium (5 days)</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>$Record.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Standard_Medium</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decision_Customer_Tier</name>
        <label>Customer Tier Decision</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Decision_Priority_Standard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard or Null</defaultConnectorLabel>
        <rules>
            <name>Outcome_Enterprise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Priority_Enterprise</targetReference>
            </connector>
            <label>Enterprise</label>
        </rules>
        <rules>
            <name>Outcome_Premium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Priority_Premium</targetReference>
            </connector>
            <label>Premium</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Priority_Enterprise</name>
        <label>Priority Decision - Enterprise</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Enterprise_Critical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Due_Date_Enterprise_Critical</targetReference>
            </connector>
            <label>Critical</label>
        </rules>
        <rules>
            <name>Enterprise_High</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Due_Date_Enterprise_High</targetReference>
            </connector>
            <label>High</label>
        </rules>
        <rules>
            <name>Enterprise_Medium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Due_Date_Enterprise_Medium</targetReference>
            </connector>
            <label>Medium</label>
        </rules>
        <rules>
            <name>Enterprise_Low</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Due_Date_Enterprise_Low</targetReference>
            </connector>
            <label>Low</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Priority_Premium</name>
        <label>Priority Decision - Premium</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Premium_Critical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Due_Date_Premium_Critical</targetReference>
            </connector>
            <label>Critical</label>
        </rules>
        <rules>
            <name>Premium_High</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Due_Date_Premium_High</targetReference>
            </connector>
            <label>High</label>
        </rules>
        <rules>
            <name>Premium_Medium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Due_Date_Premium_Medium</targetReference>
            </connector>
            <label>Medium</label>
        </rules>
        <rules>
            <name>Premium_Low</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Due_Date_Premium_Low</targetReference>
            </connector>
            <label>Low</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Priority_Standard</name>
        <label>Priority Decision - Standard</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Standard_Critical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Due_Date_Standard_Critical</targetReference>
            </connector>
            <label>Critical</label>
        </rules>
        <rules>
            <name>Standard_High</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Due_Date_Standard_High</targetReference>
            </connector>
            <label>High</label>
        </rules>
        <rules>
            <name>Standard_Medium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Due_Date_Standard_Medium</targetReference>
            </connector>
            <label>Medium</label>
        </rules>
        <rules>
            <name>Standard_Low</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Due_Date_Standard_Low</targetReference>
            </connector>
            <label>Low</label>
        </rules>
    </decisions>
    <description>Automatically calculates and sets the Due Date for Support Tickets based on Priority and Customer Tier with tiered SLA rules</description>
    <formulas>
        <name>Formula_Enterprise_Critical</name>
        <dataType>Date</dataType>
        <expression>TODAY() + (4/24)</expression>
    </formulas>
    <formulas>
        <name>Formula_Enterprise_High</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <formulas>
        <name>Formula_Enterprise_Low</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 3</expression>
    </formulas>
    <formulas>
        <name>Formula_Enterprise_Medium</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 2</expression>
    </formulas>
    <formulas>
        <name>Formula_Premium_Critical</name>
        <dataType>Date</dataType>
        <expression>TODAY() + (12/24)</expression>
    </formulas>
    <formulas>
        <name>Formula_Premium_High</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 2</expression>
    </formulas>
    <formulas>
        <name>Formula_Premium_Low</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 5</expression>
    </formulas>
    <formulas>
        <name>Formula_Premium_Medium</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 4</expression>
    </formulas>
    <formulas>
        <name>Formula_Standard_Critical</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <formulas>
        <name>Formula_Standard_High</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 3</expression>
    </formulas>
    <formulas>
        <name>Formula_Standard_Low</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <formulas>
        <name>Formula_Standard_Medium</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 5</expression>
    </formulas>
    <interviewLabel>Support Ticket Set Due Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Support Ticket Set Due Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Customer_Tier</targetReference>
        </connector>
        <object>Support_Ticket__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
